<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ESBTestSuite" parallel="false">
    <listeners>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestManagerListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestReportListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestExecutionListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestSuiteListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestTransformerListener"/>
    </listeners>


    <test name="BankingServiceTestCase" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.samples.test.BankingServiceTestCase"/>
        </classes>
    </test>
    <test name="PlaceOrderTestCase" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.samples.test.PlaceOrderTestCase"/></classes>
    </test>
    <test name="CarRentalTestCase" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.samples.test.CarRentalTestCase"/></classes>
    </test>
    <test name="HealthCareServiceTestCase" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.samples.test.HealthCareServiceTestCase"/></classes>
    </test>
    <test name="InsuranceServiceTestCase" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.samples.test.InsuranceServiceTestCase"/></classes>
    </test>
    <test name="MIPCalculateServiceTestCase" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.samples.test.MIPCalculateServiceTestCase"/></classes>
    </test>
    <test name="ShoppingServiceTestCase" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.samples.test.ShoppingServiceTestCase"/></classes>
    </test>
    <test name="GreetingServiceTestCase" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.samples.test.GreetingServiceTestCase"/></classes>
    </test>
    <test name="GetQuoteServiceTestCase" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.samples.test.GetQuoteServiceTestCase"/></classes>
    </test>
</suite>


